# Coverage reports
coverage/

# Build output
dist/

# Yarn (PnP cache + configs)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VS Code workspace settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Misc system files
.DS_Store
Thumbs.db

# Node linker safety
node_modules/